:root {
  --un-blue: #009edb;
  --un-blue-dark-text: #005392;
  --un-blue-text: #0077b8;
  --un-green: #72bf44;
  --un-green-text: #27833a;
  --un-grey: #aaa096;
  --un-grey-text: #7c7067;
  --un-orange: #f58220;
  --un-purple: #a066aa;
  --un-purple-dark-text: #733d96;
  --un-purple-text: #9a58af;
  --un-red: #eb1f48;
  --un-red-dark-text: #ab1d37;
  --un-red-text: #eb0045;
  --un-yellow: #ffcb05;
}