<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="/favicon.png" />
    <link rel="stylesheet" href="/assets/font/fonts.css" />
    <title>__PROJECT_NAME__</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="app-root-__PROJECT_NAME__" id="app-root-__PROJECT_NAME__"></div>
    <script type="module" src="/src/jsx/index.jsx"></script>
  </body>
</html>