<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="/favicon.png" />
    <link href="font/fonts.css" rel="stylesheet">
    <title>UNCTAD __PROJECT_NAME__</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="app-root-__PROJECT_NAME__"></div>
    <script type="module" src="/src/index.jsx"></script>
  </body>
</html>